body {
  background-color: white;
  min-height: 2400px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(4, 53, 82);
}

#myprojects {
  background-color: rgb(4, 53, 82);
}

#footer {
  background-color: #043552;
  max-height: max-content;
}

.nav-item:hover {
  background-color: rgb(0, 102, 255);
  border-radius: 5px;
  
}

section {
  padding-top: 5rem;
}
